
body {
    background-color: #2e2e2e; 
    color: white; 
  }
  



.contenedorone{
  display: flex;
  justify-content: center; 
    align-items: center;  
    min-height: 50vh;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
    background-color: #3e3e3e; 
    border-radius: 10px;
    padding: 1em;
  }
  
  .tecnologíaNueva {
      text-align: center;
      margin: 0 auto 0.2em auto
  
    }
  
  
    .contenedorPrimero {
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
        gap: 2em; 
        width: 90vw;
        margin: auto;
        margin-top: 0;
        border: 5px solid rgb(36, 33, 33);
        border-radius: 15px;
        padding: 1em;
        background-color: #242221;
        border-radius: 10px;
        padding: 1em;
      }
      


.tecnologíaOne{
    border: 5px solid rgba(196, 36, 24, 0.507);
    width: fit-content;
    padding: 0em 1em 1em 1em;
    border-radius: 10%;
    transition: 1s;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}
.logo {
    width: 150px;     
    height: 150px;
    object-fit: contain; 
}


  .titlesecundario{
    text-align: center;
    margin: 0 auto;
    width: 100%
  }

 
.actividad-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin: 20px auto;     
    max-width: 400px;      
    background-color: #3e3e3e; 
    border-radius: 10px;
    padding: 1em;
  }
  
  
  #actividad-form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  
  #actividad-form-label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
 
  #actividad-form-input, 
  #actividad-form-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  
  #actividad-form-button {
    padding: 10px;
    background-color: #25c72a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  #actividad-form button:hover {
    background-color: #45a049;
  }
  
  
  .actividades-agregadas {
    margin-top: 20px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  #organizador{
    margin-top: 20px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }


  .Tarjeta {
    background-color: #3e3e3e; /* Fondo oscuro, como el resto del sitio */
    border: 2px solid #555; /* Borde más claro */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espacio interno */
    margin-bottom: 20px; /* Separación entre tarjetas */
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5); /* Sombra para darle profundidad */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
  }
  
  